@import "tailwindcss";

/* ===============================
   Font Faces (ONE FAMILY)
================================ */

@font-face {
  font-family: "Dubai";
  src: url("../src/assets/fonts/Dubai-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dubai";
  src: url("../src/assets/Fonts/Dubai-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dubai";
  src: url("../src/assets/fonts/Dubai-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dubai";
  src: url("../src/assets/fonts/Dubai-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ===============================
   Tailwind v4 Theme
================================ */

@theme {
  --font-sans: "Dubai", ui-sans-serif, system-ui, sans-serif;
}
